<div class="map">
  <agm-map [latitude]="lat" [longitude]="lng">
    <div *ngFor="let position of positions">
      <agm-marker [latitude]="position.lattitude" [longitude]="position.longitude"></agm-marker>
    </div>
  </agm-map>
</div>


<div class="logs">
  <h5>Accidents</h5>
  <table class="table table-hover table-sm">
      <tbody>
        <tr class="row" (click)="mark()" *ngFor="let position of positions">
          <td class="col-md-2">{{position.heureCollecte}}</td>
          <td class="col-md-6">{{position.infoType}}</td>
          <td class="col-md-2">{{position.longitude}}</td>
          <td class="col-md-2">{{position.lattitude}}</td>
        </tr>
      </tbody>
    </table>
</div>
